<main>
    <h1 class="lastname">Tels,</h1>
    <h2 class="initials">B.</h2>
    <h2 class="initials">Z.</h2>
    <h4 class="pers-id">(03457)</h4>
    <h1 class="age-class">ADULT</h1>

    <section title="Name" class="namesection">
        <dl>
            <dt>First name(s):</dt>
            <dd>
                <span class="firstname">Benjamin</span>
                <span class="firstname notfirst">Extrafakename</span>
            </dd>
            <dt>Middle name(s):</dt>
            <dd>
                <span class="middlename">Ze'ev</span>
                <span class="middlename notfirst">Extrafakename</span>
            </dd>
            <dt>Last name:</dt>
            <dd>
                <span class="lastname">Tels</span>
            </dd>
            <dt>Date of birth:</dt>
            <dd>
                <span class="dob">1978-03-12</span>
            </dd>
        </dl>
    </section>
    <section title="Communication" class="communication">
        <dl>
            <dt>Email address(es):</dt>
            <dd>
                <span class="email"><ion-icon name="mail-sharp"></ion-icon> bzt@bentels.nl</span>
                <span class="email notfirst"><ion-icon name="mail-sharp"></ion-icon> bzt@bentels.dyndns.org</span>
            </dd>
            <dt>Phone number(s):</dt>
            <dd>
                <span class="phone"><ion-icon name="phone-portrait-sharp"></ion-icon> +31614435308</span>
                <span class="phone notfirst"><ion-icon name="call-sharp"></ion-icon> +31 40 252 13 94</span>
            </dd>
            <dt>Address:</dt>
            <dd>
                <span class="addressline">Twickel 13</span>
                <span class="addressline notfirst">5655 JK</span>
                <span class="addressline notfirst">Eindhoven</span>
                <span class="countryline notfirst">The Netherlands</span>
            </dd>
        </dl>
    </section>
    <section title="Billing address" class="billing">
        <dl>
            <dt>Same as correspondence address:</dt>
            <dd>
                <ion-icon name="checkbox-sharp"></ion-icon> Yes</dd>
            <dt>Address:</dt>
            <dd>
                <span class="addressline">Twickel 13</span>
                <span class="addressline notfirst">5655 JK</span>
                <span class="addressline notfirst">Eindhoven</span>
                <span class="countryline notfirst">The Netherlands</span>
            </dd>
        </dl>
    </section>
</main>