<main *ngIf="person">
    <section title="header">
        <h1 class="lastname">{{person.toLastNameAndInitials()}}</h1>
        <h4 class="pers-id">({{person.id}})</h4>
        <h1 class="age-class">{{person.ageclass | uppercase}}</h1>
    </section>

    <section title="control-buttons" class="buttonsection">
        <a class="button" routerLink="/edit/{{person.id}}">Edit</a>
        <a class="button" (click)="deletePerson()">Delete</a>
    </section>

    <section title="Name" class="namesection">
        <dl>
            <dt>First name(s):</dt>
            <dd>
                <span class="firstname" *ngFor="let firstname of person.firstnames">{{firstname}}</span>
            </dd>
            <dt>Middle name(s):</dt>
            <dd>
                <span class="middlename" *ngFor="let firstname of person.middlenames">{{firstname}}</span>
            </dd>
            <dt>Last name:</dt>
            <dd>
                <span class="lastname">{{person.lastname}}</span>
            </dd>
            <dt>Date of birth:</dt>
            <dd>
                <span class="dob">{{person.dob}}</span>
            </dd>
        </dl>
    </section>
    <section title="Communication" class="communication">
        <dl>
            <dt>Email address(es):</dt>
            <dd>
                <span class="email" *ngFor="let email of person.emailaddresses"><ion-icon name="mail-sharp"></ion-icon> {{email}}</span>
            </dd>
            <dt>Phone number(s):</dt>
            <dd>
                <span class="phone" *ngFor="let phn of person.phonenumbers"><ion-icon name="{{phn.mobile ? 'phone-portrait-sharp' : 'call-sharp'}}"></ion-icon> {{phn.number}}</span>
            </dd>
            <dt>Address:</dt>
            <dd>
                <span class="addressline" *ngFor="let aline of person.mainCorrespondenceAddress.lines">{{aline}}</span>
                <span class="countryline">{{person.mainCorrespondenceAddress.country}}</span>
            </dd>
        </dl>
    </section>
    <section title="Billing address" class="billing">
        <dl>
            <dt>Same as correspondence address:</dt>
            <dd>
                <span *ngIf="person.effectiveBillingAddress() === person.mainCorrespondenceAddress"><ion-icon name="checkbox-sharp"></ion-icon> Yes</span>
                <span *ngIf="person.effectiveBillingAddress() !== person.mainCorrespondenceAddress"><ion-icon name="circle-close-sharp"></ion-icon> Yes</span>
            </dd>
            <dt>Billing address:</dt>
            <dd>
                <span class="b-addressline" *ngFor="let aline of person.effectiveBillingAddress().lines">{{aline}}</span>
                <span class="b-countryline">{{person.effectiveBillingAddress().country}}</span>
            </dd>
        </dl>
    </section>
</main>