main {
    margin-left: 15%;
    max-width: 70%;
}

.buttonsection {
    display: block;
    position: absolute;
    left: 45%;
    z-index: 10;
}

h1.lastname,
h2.initials,
h4.pers-id {
    display: inline-block;
}

h4.pers-id {
    margin-left: 20px;
}

h1.age-class {
    position: relative;
    top: -1.1em;
}

dt {
    float: left;
}

dd {
    display: flex;
    flex-direction: column;
}

dd::after {
    content: "\A";
    white-space: pre;
}

.firstname {
    position: relative;
    left: 4em;
}

.middlename {
    position: relative;
    left: 3em;
}

span.lastname {
    position: relative;
    left: 5.3em;
    text-decoration: underline;
    font-weight: bolder;
}

.dob {
    position: relative;
    left: 4.5em;
}

.email {
    position: relative;
    left: 2em;
}

.phone {
    position: relative;
    left: 2.1em;
}

.addressline {
    position: relative;
    left: 6em;
}

.countryline {
    margin-left: 6em;
    text-transform: uppercase;
}

.b-addressline {
    position: relative;
    left: 3em;
}

.b-countryline {
    margin-left: 3em;
    text-transform: uppercase;
}
